body, html {
    margin: 0;
    padding: 0;
    color: black;
    overflow-x: hidden;
}
.navbar {
    background-color: #5A5377 !important;
    color: white !important;
    z-index: 100;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
}
.logo-container {
    background-color: white; 
    padding: 15px;
    width: 100%;
    position: relative;
}
.logo-container img {
    width: 200px;
    margin-right: 5px;
}
@media only screen and (max-width: 450px) {
    .logo-container {
        padding: 15px 0;
    }
    .logo-container .container {
        display: block !important;
        padding: 0 5px;
    }
    .logo-container img {
        clear: left;
        display: block;
        margin: 5px auto;
    }
}
.splash-header {
    position: relative;
    height: 50vh;
    width: 100%;
}
.splash-header img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
}
.splash-header .gradient {
    background-color:  rgba(90,83,119,.4);
    width: 100%;
    height: 100%;
    position: absolute;
}
.splash-header .hero-text {
    position: absolute;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0%);
    width: 75%;
    text-align: center;
}
.splash-header .hero-text h1 {
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
}
.splash-header .hero-text h3 {
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
}
@media only screen and (max-width: 767px) {
    .splash-header .hero-text {
        top: 20%;
    }
    .splash-header .hero-text h1 {
        font-size: 2rem;
    }
    .splash-header .hero-text h3 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 400px) {
    .splash-header .hero-text {
        top: 15%;
    }
}
footer {
    background-color: #5A5377;
    color: white;
    padding: 5vh 0;
}
footer ul {
    list-style: none;
}
footer a {
    color: inherit;
    text-decoration: underline;
}
footer a:hover, footer a:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}
footer .contact-icons {
    text-align: center;
}
footer .contact-icons .contact-icon {
    margin: 15px auto;
}
.footer-brand {
    background-color: white;
    color: black;
}
.footer-brand img {
    margin-right: 15px;
    width: 200px;
}


.body-section h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}
.body-section h3 {
    text-align: center;
}


.body-section img {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}
.body-section img.img-thumbnail {
    margin: 5px auto;
}
@media only screen and (max-width: 320px) {
    .body-section h2 {
        font-size: 2.25rem;
    }
}

.body-section.why-swe.why-swe-item {
    display: flex;
    align-items:center;
}

.body-section.what-we-do .see-more-btn {
    color: #5A5377;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #5A5377;
    transition: all 0.2s ease-in;
    margin: 0 auto;
    display: block;
}
.body-section.what-we-do .see-more-btn:hover {
    color: white;
    background-color: #5A5377;
}

.body-section.about-engineering h3 {
    font-weight: 600;
}
.body-section p {
    font-size: 1.5rem;
    text-align: center;
}



.background-purple {
    background-color:#5A5377;
    color: white;
}
.background-whitesmoke {
    background-color: whitesmoke;
    color: black;
}

.body-section .row {
    /* fallback */
    margin: 30px auto;
    
    margin: 5vh auto;
}
.body-section {
    padding: 5vh 0;
}

.purple-text {
    color: #E63F52;
}
.pink-text {
    color: #57C8E7;
}

.feedback-btn {
    background-color: #E63F52;
    transition: border .3s;
}
.feedback-btn:hover, .feedback-btn.active {
    border: 1px solid white;
}

.project-gallery .carousel-indicators li {
    background-color: #E63F52;
    /* display: flex;
    align-items: center;
     */
}
.project-gallery .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a5377' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.project-gallery .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a5377' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-inner img {
    max-height: 50vh;
}
.carousel-control-prev {
    margin-left: -15px;
}
.carousel-control-next {
    margin-right: -15px;
}
.project-gallery .carousel-indicators li.active {
    background-color:#5A5377;
}
.project-gallery .creation-date {
    font-size: 1.15rem;
}
.project-gallery .slide-text {
    padding: 1.5rem 0;
}
.project-gallery .slide-text h5 {
    text-align: center;
}
.project-gallery .slide-text p {
    font-size: 1.1rem;
    text-align: center;
}